@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-colour: #111D4A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #111D4A;
  }
}

body {
  color: white;
  background-color: var(--background-colour)
}
